body{
    background-color: #202124;
    color: white;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #202124;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: #10e9e9;
    font-size: 2.2rem;
}

nav h1:hover {
    color: #00ffff;
    transition: 0.2s ease;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 800;
    margin-left: 33px;
}

nav ul a:hover {
    color: #10e9e9;
    transition: 0.2s ease;
}

#signupNav {
    border: 3px solid #10e9e9;
    border-radius: 24px;
    padding: 5px 28px;
}

#signupNav:hover {
    background-color: #10e9e9;
    color: white;
    transition: 0.4s ease;
}